.backgroundi{
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-image: url(supermarket2.jpg);
}
.shade{
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: rgba(128,0,0,0.7);
}


.BoxiKryesor{
    
    background-color: maroon;
    display:flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    border-radius:10px;
    box-shadow: 0 0 20px 0 #000;
    margin: auto;
    font-weight: bold;
    height:650px;
    width: 1300px;
    
  
    
	
        
        
       
    
	
    }
    .button{
    border: 3px solid white;
   background: none;
   color: white;
   width:150px;
   margin-top: 4%;
   margin-left: 80px;
   height: 40px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   border-radius: 10px;
        
        

        
        
        
    }
    .FOTOBox{
        text-align: left;
        justify-content: center;
        flex-direction: column;
        

    }
    .AboutUsBoxi{
        margin: auto;
        justify-content: center;
        flex-direction: row;
    }
    .Menu{
        margin: 0;
        flex-direction: row;
        display: flex;
        width: 50px;
        height: 70px;

        
    }
    .Button1{
        font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(173, 4, 4);
    background-color: white;
    width: auto;
    height: auto;
    margin-top: 20%;
    border-color: white;
    box-shadow: white;
    border-radius: 10px;
        
    }
    
